<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        .dashboard {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            padding: 50px;
        }

        .dashboard-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        .dashboard-partition {
            position: relative;
            width: {{ partition_width }}px; /* Replace with Flask variable */
            height: {{ partition_height }}px; /* Replace with Flask variable */
            /*border: 1px dashed #ccc;*/
            text-align: center;
            padding: 20px;
            margin: {{ padding/2 }}px; /* Replace with Flask variable */
        }

        .dashboard-item {
            width: 100%;
            height: 100%;
            /*border: 1px solid #ccc;
            /*cursor: move; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #okButton {
            display: none; /* Hide the OK button initially */
                            position: fixed;
    bottom: 20px;
    left: 80px;
    width: 30px;
    height: 30px;
    background-color: #6FABF0;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        }
        #editButton{
                position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #6FABF0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        }
        
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">

</head>
<body>

<svg class="network-animation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">

    <!-- Add more circles as needed -->
  </svg>

    <div class="top-bar">
        <div class="logo"></div>
        <!-- Add other elements or text in the top bar if needed -->
        <div id="add-item-button" class="add-button">
           <span class="plus-icon">+</span>
        </div>
    </div>

    <div class="dashboard" id="dashboardContainer"></div>
    
    <div id="add-item-modal" class="modal">

    <div class="modal-content">
        <div id="loading-div">
            <div class="loader"></div>
        </div>
        <div id="success-message" class="success-message success">Item added successfully</div>
        <div id="error-message" class="success-message error">Item addition failed</div>

        <span class="close">&times;</span>
        <h2>Add Item</h2>
        <label for="item-type">Type:</label>
        <select id="item-type" class="form-control">
            <option value="temperature">Temperature</option>
            <option value="humidity">Humidity</option>
            <option value="motion_sensor">Motion Sensor</option>
            <option value="door_sensor">Door Sensor</option>
            <option value="glass_break">Glass Break</option>
            <option value="switch">Switch</option>
            <option value="siren">Siren</option>
        </select>
        <label for="item-id">ID:</label>
        <input id="item-id" type="text" class="form-control" placeholder="Enter ID">
        <label for="item-protocol">Communication Protocol:</label>
        <select id="item-protocol" class="form-control">
            <option value="lora">LoRa</option>
            <option value="wifi">Wi-Fi</option>
        </select>
        <button id="add-item-confirm" class="btn btn-primary">Add</button>
    </div>
</div>
    <button id="editButton">Edit</button>
    <button id="okButton">OK</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

    
    <script>
// Generate 50 circles with random positions
const svg = document.querySelector('.network-animation');
const numCircles = 10;
const circles = [];

for (let i = 0; i < numCircles; i++) {
  const circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
  circle.setAttribute('class', 'circle');
  circle.setAttribute('r', '5');
  circle.setAttribute('cx', getRandomPosition(0, 1000));
  circle.setAttribute('cy', getRandomPosition(0, 1000));
  svg.appendChild(circle);
  circles.push(circle);
}

// Generate lines connecting circles
const numLines = 5;

for (let i = 0; i < numLines; i++) {
  const line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
  line.setAttribute('class', 'line');

  const startCircleIndex = getRandomIndex(numCircles);
  const endCircleIndex = getRandomIndex(numCircles, [startCircleIndex]);

  line.setAttribute('x1', circles[startCircleIndex].getAttribute('cx'));
  line.setAttribute('y1', circles[startCircleIndex].getAttribute('cy'));
  line.setAttribute('x2', circles[endCircleIndex].getAttribute('cx'));
  line.setAttribute('y2', circles[endCircleIndex].getAttribute('cy'));

  svg.appendChild(line);
}

// Random number generator function (excluding excludedIndices)
function getRandomIndex(max, excludedIndices = []) {
  let index;
  do {
    index = Math.floor(Math.random() * max);
  } while (excludedIndices.includes(index));
  return index;
}

// Random number generator function
function getRandomPosition(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}
        var isEditMode = false; // Variable to track if the dashboard is in edit mode
        var itemLocations = [];
        
        $(document).ready(function() {
            $(".dashboard-item").draggable({
                revert: "invalid",
                zIndex: 100,
                cursor: "move",
                disabled: true // Disable dragging initially
            });

            $(".dashboard-partition").droppable({
                accept: ".dashboard-item",
                drop: function(event, ui) {
                    var draggable = ui.draggable;
                    var droppable = $(this);
                    var droppableItem = droppable.children(".dashboard-item");

                    if (droppableItem.length > 0) {
                        var draggableParent = draggable.parent();
                        var droppableParent = droppableItem.parent();

                        draggable.detach().appendTo(droppableParent);
                        droppableItem.detach().appendTo(draggableParent);
                    } else {
                        if (!draggable.parent().is(droppable)) {
                            draggable.detach().appendTo(droppable);
                        }
                    }

                    draggable.css({ top: 0, left: 0 });
                },
                disabled: true // Disable dropping initially
            });

            // Edit button click event
            $("#editButton").click(function() {
                if (!isEditMode) {
                    $(".dashboard-item").draggable("enable"); // Enable dragging
                    $(".dashboard-partition").droppable("enable"); // Enable dropping
                    $("#okButton").show(); // Show the OK button
                    isEditMode = true;
                }
            });

            // OK button click event
            $("#okButton").click(function() {
                if (isEditMode) {
                    $(".dashboard-item").draggable("disable"); // Disable dragging
                    $(".dashboard-partition").droppable("disable"); // Disable dropping
                    $("#okButton").hide(); // Hide the OK button
                    isEditMode = false;
                
            
                itemLocations = [];
                var items = {{ item_locations|tojson }};
                $(".dashboard-partition").each(function(index) {
                    var partition = $(this);
                    var partitionId = partition.attr("id");
                    partition.find(".dashboard-item").each(function() {
                        var itemId = $(this).attr("id");
                        
                        var type = null;
        
                         for (var i = 0; i < items.length; i++) {
                             if (items[i].itemId == itemId) {
                                 type = items[i].type; // Assign the type if a match is found
                                 break;
                             }
                         }
                        
                        
                        itemLocations.push({
                            itemId: itemId,
                            partitionId: partitionId ,
                            type: type
                            
                        });
                    });
                });

                // Send itemLocations to Flask
                $.ajax({
                    type: "POST",
                    url: "/process_locations",
                    data: JSON.stringify(itemLocations),
                    contentType: "application/json",
                    success: function(response) {
                        console.log("Locations sent to Flask successfully");
                    },
                    error: function(error) {
                        console.error("Error sending locations to Flask:", error);
                    }
                });
            
                }
            });
        });

        // Get values from Flask
        var padding = {{ padding }}; // Replace with Flask variable
        var numPerRow = {{ num_per_row }}; // Replace with Flask variable
        var numItems = {{ num_items }}; // Replace with Flask variable

        // Create the dashboard partitions dynamically
        var dashboardContainer = $("#dashboardContainer");
        var partitionIndex = 0 ;
        for (var i = 0; i < numItems; i++) {
            var row = $('<div class="dashboard-row"></div>');
            for (var j = 0; j < numPerRow; j++) {
                var partition = $('<div class="dashboard-partition"></div>');
                partition.attr('id', 'partition-' + partitionIndex);
                row.append(partition);
                partitionIndex++;
            }
            dashboardContainer.append(row);
        }

        // Add sample items to partitions
        //var items = {{ items_flask|tojson }};

        //var itemIndex = 0;
        //$(".dashboard-partition").each(function() {
        //    var partition = $(this);
        //    var item = items[itemIndex % items.length];
        //    var element = $('<div class="dashboard-item">' + item.text + '</div>');
        //    element.attr('id', 'item-' + itemIndex);
        //    partition.append(element);
        //    itemIndex++;
        //});
        
        function getSensorIcon(sensorType,sensorStatus) {
            switch (sensorType) {
                case 'temperature':
                    return '<i class="fa fa-thermometer-half sensor-icon"></i>';
                case 'humidity':
                    return '<i class="fa fa-tint sensor-icon"></i>';
                case 'glass_break':
                    return '<img src="static/photo/broken-window.png" class="sensor-icon"  width="140" height="140">';
                case 'motion_sensor':
                    if (sensorStatus === 'No Motion') {
                        return '<img src="static/photo/motionno.png" class="sensor-icon"  width="140" height="140">';
                    } else if (sensorStatus === 'Motion Detected') {
                        return '<img src="static/photo/motiond.png" class="sensor-icon"  width="140" height="140">';
                    }else {
                        return '';
                    }                
                case 'door_sensor':
                    if (sensorStatus === 'opened') {
                        return '<img src="static/photo/door.png" class="sensor-icon"  width="140" height="140">';
                    } else if (sensorStatus === 'closed') {
                        return '<img src="static/photo/doorclosed.png" class="sensor-icon"  width="140" height="140">';
                    }
                default:
                    return '';
                }
        }

        function getActuatorIcon(actuatorType, actuatorValue) {
            let actuatorIconClass = actuatorValue === 'on' ? 'actuator-icon-on' : 'actuator-icon-off';
            switch (actuatorType) {
                case 'switch':
                    return `<img src="static/photo/light${actuatorValue === 'on' ? 'on' : 'off'}.png" class="actuator-icon"  width="170" height="170">`;                // add more actuator types and icons here
                case 'siren':
                    return `<img src="static/photo/siren${actuatorValue === 'on' ? 'on' : 'off'}.png" class="actuator-icon"  width="170" height="170">`;                // add more actuator types and icons here
                default:
                    return '';
            }
        }

        function updateSensorData(sensorType, sensorData) {
            for (let sensorId in sensorData) {
                let sensorElementId = sensorId;
                let sensorElement = document.getElementById(sensorElementId);
                if (sensorElement) {
                    let sensorValue = sensorData[sensorId];
                    let lastUpdated = new Date().toLocaleTimeString();
                    sensorElement.innerHTML = `
                        <div class="sensor">
                            ${getSensorIcon(sensorType,sensorValue )}
                            <div class="sensor-name">${sensorType} ${sensorId}</div>
                            <div class="sensor-value">${sensorValue || 'Unknown'}</div>
                            <div class="last-updated">Last updated: ${lastUpdated}</div>
                        </div>
                    `;
                }
            }
        }
        
        function updateActuatorData(actuatorType, actuatorData) {
            for (let actuatorId in actuatorData) {
                let actuatorElementId = actuatorId;
                let actuatorElement = document.getElementById(actuatorElementId);
                if (actuatorElement) {
                    let actuatorValue = actuatorData[actuatorId];
                    let lastUpdated = new Date().toLocaleTimeString();
                    actuatorElement.innerHTML = `
                        <div class="actuator">
                            ${getActuatorIcon(actuatorType, actuatorValue)}
                            <div class="actuator-name">${actuatorType} ${actuatorId}</div>
                            <div class="actuator-value">${actuatorValue || 'Unknown'}</div>
                            <div class="last-updated">Last updated: ${lastUpdated}</div>
                        </div>
                    `;
                    actuatorElement.setAttribute('data-value', actuatorValue);
                }
            }
        }

        function toggleActuator(actuatorType, actuatorId) {
            let actuatorElementId = actuatorId;
            let actuatorElement = document.getElementById(actuatorElementId);
            let actuatorValue = actuatorElement.getAttribute('data-value');
            let newActuatorValue;
            if (actuatorValue === 'off') {
                newActuatorValue = 'on';
                actuatorElement.setAttribute('data-value', newActuatorValue);
            } else {
                newActuatorValue = 'off';
                actuatorElement.setAttribute('data-value', newActuatorValue);
            }
            socket.emit('actuator_command', {
                type: actuatorType,
                id: actuatorId,
                value: newActuatorValue
            });
        }
        
        var socket;
        var retryCount = 0;
        var maxRetryAttempts = 3;

        function connectSocket() {
            socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', handleSocketConnect);
            socket.on('disconnect', handleSocketDisconnect);
        }
        function handleSocketConnect() {
            console.log('Socket connected');
  // Perform necessary operations after successful socket connection
        }

        function handleSocketDisconnect() {
            console.log('Socket disconnected');
            retrySocketConnection();
        }

        function retrySocketConnection() {
            if (retryCount < maxRetryAttempts) {
                retryCount++;
                console.log('Retrying socket connection... (attempt ' + retryCount + ')');
                setTimeout(connectSocket, 2000); // Retry after 2 seconds (adjust as needed)
            } else {
                console.log('Max retry attempts reached. Socket connection failed.');
            }
        }

        connectSocket();
        
        
        //var socket = io.connect('http://' + document.domain + ':' + location.port);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                for (let deviceType in data) {
                    if (deviceType == 'switch'  ) {

                        updateActuatorData(deviceType, data[deviceType]);
                    } else {
                        if (deviceType == 'siren'  ) {
                            updateActuatorData(deviceType, data[deviceType]);
                    }   else {
                            updateSensorData(deviceType, data[deviceType]);
                    }
                    }

                }
            }
        };
        xhr.open('GET', '/data', true);
        xhr.send();


        // Add sample items to partitions
        var itemLocations = {{ item_locations|tojson }};
        itemLocations.forEach(function(location) {
            var icon;
            if (location.type === 'siren' || location.type === 'switch') {
                icon = getActuatorIcon(location.type, 'off');
            } else {
                if (location.type === 'door_sensor')
                    {
                        icon = getSensorIcon(location.type, 'opened');
                    }
                else if (location.type === 'motion_sensor')
                    {
                        icon = getSensorIcon(location.type, 'No Motion');
                    }
                else {
                        icon = getSensorIcon(location.type, 'No Motion');

                }
                
            }

            if (location.type === 'siren' || location.type === 'switch') {
                item = $('<div class="actuator dashboard-item">' + icon + location.type + ' ' + location.itemId + '</div>').click(function() {
                    toggleActuator(location.type, location.itemId);
                });
            } else {
                item = $('<div class="sensor dashboard-item">' + icon + location.type + ' ' + location.itemId + '</div>');
            }
            
            
            item.attr('id', location.itemId);
            var partition = $('#' + location.partitionId);
            partition.append(item);
            
            if (location.type == 'switch' || location.type == 'siren' ) {
                socket.on(`${location.type}_data`, function (data) {
                    let actuatorData = JSON.parse(data);
                    updateActuatorData(location.type, actuatorData);
                });

            } else {
                socket.on(`${location.type}_data`, function (data) {
                    let sensorData = JSON.parse(data);
                    updateSensorData(location.type, sensorData);
                });
            }
        });
        
        
 function additem() {
  // Display the loading message
  document.getElementById("loading-div").style.display = "block";
  var successMessage = document.getElementById("success-message");

  
  // Simulate a delay (replace this with your actual request logic)
  
  // Get the values of the sensor attributes
  var type = document.getElementById('item-type').value;
  var id = document.getElementById('item-id').value;
  var protocol = document.getElementById('item-protocol').value;

  // Create a JSON object with the sensor data
  var sensorData = {
    type: type,
    id: id,
    protocol: protocol
  };

  // Send an AJAX POST request to the Flask API
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/add-item', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      // Hide the loading message
      
      // Check the response status
      if (xhr.status === 200) {
        // Item added successfully
        document.getElementById("loading-div").style.display = "none";
        successMessage.style.display = "block";
        var response = JSON.parse(xhr.responseText);
        console.log(response);
        var addItemModal = document.getElementById('add-item-modal');
        setTimeout(function() {
        successMessage.style.display = "none";
        addItemModal.style.display = 'none';
        }, 3000);

        
        setTimeout(function() {
        location.reload();
        }, 5000);
          
      } else {
        // Item not added successfully
        document.getElementById("loading-div").style.display = "none";
        var errorMessage = document.getElementById("error-message");
        errorMessage.style.display = "block";

        console.log('Item not added successfully');
        var addItemModal = document.getElementById('add-item-modal');
        setTimeout(function() {
        errorMessage.style.display = "none";
        addItemModal.style.display = 'none';
        }, 5000);
        
      }
    }
  };
  xhr.send(JSON.stringify(sensorData));

  // Close the modal dialog after adding the item
  var addItemModal = document.getElementById('add-item-modal');
  addItemModal.style.display = 'block';

}


  // Add an event listener to the "Add Item" button
  var addItemButton = document.getElementById('add-item-button');
  addItemButton.addEventListener('click', function () {
    var addItemModal = document.getElementById('add-item-modal');
    addItemModal.style.display = 'block';
  // Add an event listener to the close button in the modal dialog
  var closeBtn = document.getElementsByClassName('close')[0];
  closeBtn.addEventListener('click', function () {
  var addItemModal = document.getElementById('add-item-modal');
  addItemModal.style.display = 'none';
    });

  });

  // Add an event listener to the "Add" button in the modal dialog
  var addConfirmButton = document.getElementById('add-item-confirm');
  addConfirmButton.addEventListener('click', additem);
        
        
        
        
        
        
        
    </script>
</body>
</html>
